.location{
    background-color: var(--secondary-color);
    color: white;
    width: 100%;
    max-width: 30em;
    padding: 2em 2.5em 2.5em;
    border-radius: 1em;
    margin: 0 auto 4em;
    transition: scale 0.5s ease;
    &:hover{
        scale: 0.95;
    }
    .location_name{
        text-align: center;
        font-weight: 500;
        color: #04a904;
        margin-bottom: 0.7em;
    }
    .location_list{
        justify-content: space-between;
        gap: 1em;
        .location_item{
        justify-items: center;
         .location_label{
            font-size: 0.9em;
            color: #999;
         }
         .location_value{
            font-size: 0.95em;
         }
        }
    }
}