.resident{
    width: 100%;
    max-width: 19em;
    background-color: var(--secondary-color);
    border-radius: 0.9em;
    overflow: hidden;
    transition: all .5s ease;
    &:hover{
        scale: 1.03;
        box-shadow: 0 0 10px 1px white;
    }
}
.resident_header{
    position: relative;

    .resident_status-container{
        position: absolute;
        top: 3em;
        background-color: var(--secondary-color);
        color: white;
        min-width: 7em;
        padding: 0.3em 1em;
        border-radius: 0 .5em .5em 0;
        .resident_status-circle{
            width: 1em;
            aspect-ratio: 1;
            background-color: #aaa;
            border-radius: 50%;
        }
        .resident_status{
            font-size: 0.9em;
            font-weight: 500;
        }
        .Alive{
            background-color: green;
        }
        .Dead{
            background-color: red;
        }
    }
}
.resident_body{
    color: white;
    padding: 1.5em 1.5em 2em;
    .resident_name{
        text-align: center;
        font-size: 1.5em;
        font-family: var(--font-alternative);
    }
    .resident_hr{
        margin: 1em 0;
        color: #9994;
    }
    .resident_list{
        gap: 0.8em;
        .resident_item{
            gap: 0.2em;
            .resident_label{
                font-weight: 500;
                font-family: var(--font-alternative);
                font-size: 1.1em;
                color:#999;
                padding-left: 1em;
            }
            .resident_value{
                font-family: var(--font-alternative);
                font-size: 0.9em;
            }
        }
    }
}